<div class="text-center">
  <h1 style="font-weight:700; display: inline-block; background-color: rgb(26, 146, 26);letter-spacing: 4px; color: white; box-shadow: 3px 3px 0px 0px black; width: auto; text-transform: uppercase;">
      Listado de canales</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Concepción</h3>
    <app-concepcion></app-concepcion>
  </div>
  <div class="col-md-6">
      <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Temuco</h3>
      <app-temuco></app-temuco>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Valdivia</h3>
    <app-valdivia></app-valdivia>
  </div>
  <div class="col-md-6">
      <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Osorno</h3>
    <app-osorno></app-osorno>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Puerto Montt</h3>
    <app-ptomontt></app-ptomontt>
  </div>
  <div class="col-md-6">
      <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Chiloé</h3>
      <app-chiloe></app-chiloe>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
      <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Coyhaique</h3>
      <app-coyhaique></app-coyhaique>
    </div>
    <div class="col-md-6">
        <h3 style="font-weight: 700; color:rgb(26, 146, 26); letter-spacing: 4px; text-transform: uppercase">Santiago</h3>
      <app-santiago></app-santiago>
    </div>
  </div>
  <hr>
