<div class="col-md-3" style="margin: 0 auto">
  <h2 class="text-center">Agregar Canal</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre del Canal:</label>
      <input type="text" formControlName="nombre" placeholder="Canal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
      <div *ngIf="submitted && f.nombre.errors">
        <div *ngIf="f.nombre.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El nombre es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <label>Ciudad:</label>
      <input type="text" formControlName="ciudad" placeholder="Ciudad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }">
      <div *ngIf="submitted && f.ciudad.errors">
        <div *ngIf="f.ciudad.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La ciudad es obligatoria</div>
      </div>
    </div>

    <div class="form-group">
      <label>Zonal:</label>
      <select formControlName="zonal" class="form-control" id="">
        <option value="Concepcion">Concepción</option>
        <option value="Temuco">Temuco</option>
        <option value="Valdivia">Valdivia</option>
        <option value="Osorno">Osorno</option>
        <option value="PtoMontt">Puerto Montt</option>
        <option value="Chiloe">Chiloé</option>
        <option value="Coyhaique">Coyhaique</option>
        <option value="Santiago">Santiago</option>
      </select>
      <div *ngIf="submitted && f.zonal.errors">
        <div *ngIf="f.zonal.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una zonal</div>
      </div>
    </div>

    <div class="form-group">
      <label>Url de Encoder:</label>
      <input type="text" formControlName="urlEncoder" placeholder="Encoder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.urlEncoder.errors }">
    </div>

    <a [routerLink]="['/admin']" class="btn btn-success">Volver</a>
    <button type="submit" class="btn btn-info">Guardar</button>
    <p>*Los links para la imagen y el visio se asignan al momento de editar Canal.</p>

  </form>
</div>