
<div class="container-fluid">
  <div class="row" style="margin: 0 auto">
    <div class="col-md-4">
      <h2 class="text-center">Editar Canal</h2>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nombre del Canal:</label>
          <input type="text" formControlName="nombre" placeholder="Canal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
          <div *ngIf="submitted && f.nombre.errors">
            <div *ngIf="f.nombre.errors.required">El nombre es obligatorio</div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Ciudad:</label>
          <input type="text" formControlName="ciudad" placeholder="Ciudad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }">
          <div *ngIf="submitted && f.ciudad.errors">
            <div *ngIf="f.ciudad.errors.required">La ciudad es obligatoria</div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Zonal:</label>
          <select formControlName="zonal" class="form-control" id="">
            <option value="Concepcion">Concepción</option>
            <option value="Temuco">Temuco</option>
            <option value="Valdivia">Valdivia</option>
            <option value="Osorno">Osorno</option>
            <option value="PtoMontt">Puerto Montt</option>
            <option value="Chiloe">Chiloé</option>
            <option value="Coyhaique">Coyhaique</option>
            <option value="Santiago">Santiago</option>
          </select>
          <div *ngIf="submitted && f.zonal.errors">
            <div *ngIf="f.zonal.errors.required">Es necesario asignar una zonal</div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Url de Encoder:</label>
          <input type="text" formControlName="urlEncoder" placeholder="Encoder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.urlEncoder.errors }">
        </div>
    
        <a [routerLink]="['/admin']" class="btn btn-success" style="margin-right: 5px">Volver</a>
        <button type="submit"  class="btn btn-info">Guardar</button>
      </form>
    </div>
    <div class="col-md 3">
      <h2>Asignar Imagen</h2>

      <div class="row">
        <div class="col-3">
          <button (click)="open(content)" type="button" class="btn btn-primary waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Subir Imagen</button>
        </div>
        <div class="col-5">
          <select (ngModelChange)="selecciona($event, 'imagen')" [(ngModel)]="imagen" name="imagen" class="form-control" id="">
            <option *ngFor="let a of imagenes" [ngValue]="a">{{a.nombre}} </option>
          </select>
        </div>
        <div class="col-4">
            <button [disabled]="!imagen" (click)="asignar('imagen')" type="button" class="btn btn-secondary waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Asignar Imagen</button>
        </div>
      </div>
      
      <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Subir Imagen</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="nombre_imagen" name="nombre_imagen" placeholder="" class="form-control" >
              <p-fileUpload #uploader  accept="image/*" maxFileSize="1000000" chooseLabel="Seleccionar archivo..." 
               [showUploadButton]="false" [showCancelButton]="false" [previewWidth]="300">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
      </p-fileUpload>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="subir(modal, uploader, 'imagen')">Subir</button>
          </div>
        </ng-template>
        
      <br>
      <div class="row">
        <div class="col-12">
            <table class="table" *ngIf="canal">
              <thead class="thead-dark" style="border-bottom: 3px rgb(18, 141, 18) solid">
                <tr>
                  <th style="width: 50%">Nombre</th>
                  <th>URL</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let foto of canal.archivos" >                
                  <tr *ngIf="foto.tipo=='imagen'" >
                    <td style="width: 50%">{{foto.nombre}}</td>
                    <td>imagenes/{{foto.url}}</td>
                    <td> <button class="btn btn-danger" (click)="deleteFoto(foto)" type="button"> Eliminar</button></td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
      <!-- <input (change)="seleccionImg( $event.target.files[0] )" type="file" name="" id=""> -->
      <hr>
      <h2>Subir Visio</h2>
      <div class="row">
        <div class="col-3">
          <button (click)="open(contentArchivo)" type="button" class="btn btn-primary waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Subir Archivo</button>
        </div>
        <div class="col-5">
          <select (ngModelChange)="selecciona($event, 'archivo')" [(ngModel)]="archivo" name="imagen" class="form-control" id="">
            <option *ngFor="let a of archivos" [ngValue]="a">{{a.nombre}} </option>
          </select>
        </div>
        <div class="col-4">
            <button [disabled]="!archivo" (click)="asignar('archivo')" type="button" class="btn btn-secondary waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Asignar Archivo</button>
        </div>
      </div>
      
      <ng-template #contentArchivo let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Subir Archivo</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="nombre_imagen" name="nombre_imagen" placeholder="" class="form-control" >
              <p-fileUpload #uploaderArchivo accept=".vsd, .vsdx"  chooseLabel="Seleccionar archivo..." 
               [showUploadButton]="false" [showCancelButton]="false" [previewWidth]="300">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
      </p-fileUpload>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="subir(modal, uploaderArchivo, 'archivo')">Subir</button>
          </div>
        </ng-template>
        
      <br>
      <div class="row">
        <div class="col-12">
            <table class="table" *ngIf="canal">
              <thead class="thead-dark" style="border-bottom: 3px rgb(18, 141, 18) solid">
                <tr>
                  <th style="width: 50%">Nombre</th>
                  <th>URL</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let a of canal.archivos" >                
                  <tr *ngIf="a.tipo=='archivo'" >
                    <td style="width: 50%">{{a.nombre}}</td>
                    <td>archivos/{{a.url}}</td>
                    <td> <button class="btn btn-danger" (click)="deleteFoto(a)" type="button"> Eliminar</button></td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
      
    </div>
  </div>
</div>